@import url

body{
  padding-top: 3.5rem;
}

.bg-lalala{
  background:hsl(16,70%, 50%);
}

.bg-lalala: hover{
  background:hsl(16, 70%, 50%);
  
}

body{
     background:gray
      font-family: 'lora',serif;
      font-weight:400;
     }

     h1,h2,h3,h4,h5,h6{
       font-weight:700;
     }

img{
  border:5px solid white;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  border-radius: 20px;
}

nav div[class^="col"] {
padding-top:0;
}

div[class^="col"] {
padding-top:3rem;
}
